name: Deploy to ECS (Fargate)

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::695394391597:role/GitHubActionsTerraformRole
          aws-region: ap-northeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t testapp-dev-nginx .

      - name: Tag Image
        run: |
          docker tag testapp-dev-nginx:latest 695394391597.dkr.ecr.ap-northeast-1.amazonaws.com/testapp-dev-nginx:latest

      - name: Push to ECR
        run: |
          docker push 695394391597.dkr.ecr.ap-northeast-1.amazonaws.com/testapp-dev-nginx:latest

      - name: Register New Task Definition
        run: |
          FAMILY="testapp-dev-task"
          IMAGE="695394391597.dkr.ecr.ap-northeast-1.amazonaws.com/testapp-dev-nginx:latest"

          NEW_TASK_DEF=$(jq -n \
            --arg IMAGE "$IMAGE" \
            '{
              family: "testapp-dev-task",
              networkMode: "awsvpc",
              requiresCompatibilities: ["FARGATE"],
              cpu: "256",
              memory: "512",
              executionRoleArn: "arn:aws:iam::695394391597:role/ecsTaskExecutionRole",
              taskRoleArn: "arn:aws:iam::695394391597:role/ecsTaskRole",
              containerDefinitions: [
                {
                  name: "app",
                  image: $IMAGE,
                  essential: true,
                  portMappings: [
                    {
                      containerPort: 80,
                      hostPort: 80,
                      protocol: "tcp"
                    }
                  ],
                  logConfiguration: {
                    logDriver: "awslogs",
                    options: {
                      "awslogs-create-group": "true",
                      "awslogs-group": "/ecs/testapp-dev",
                      "awslogs-region": "ap-northeast-1",
                      "awslogs-stream-prefix": "ecs"
                    }
                  }
                }
              ]
            }'
          )

          echo "$NEW_TASK_DEF" > new-task-def.json

      - name: Register task definition to ECS
        run: |
          aws ecs register-task-definition \
            --cli-input-json file://new-task-def.json

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster testapp-dev-cluster \
            --service testapp-dev-service \
            --force-new-deployment
