name: Deploy to ECS

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::695394391597:role/testapp-dev-github-actions-role
          aws-region: ap-northeast-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ap-northeast-1 | docker login \
          --username AWS \
          --password-stdin 695394391597.dkr.ecr.ap-northeast-1.amazonaws.com

      - name: Build Docker Image
        run: docker build -t testapp-app .

      - name: Tag Image
        run: docker tag testapp-app:latest 695394391597.dkr.ecr.ap-northeast-1.amazonaws.com/testapp-dev-app:latest

      - name: Push to ECR
        run: docker push 695394391597.dkr.ecr.ap-northeast-1.amazonaws.com/testapp-dev-app:latest

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster testapp-dev-cluster \
            --service testapp-dev-service \
            --force-new-deployment
